body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5b5b5e;
}

header {
    background-image: linear-gradient(darkgray, black);
    color: white;
    text-align: center;
    padding: 1em;
}

.search-container {
    text-align: center;
    padding: 3em 0;
}

.search-bar {
    width: 80%;
    max-width: 600px;
    padding: 1em;
    font-size: 1.2em;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
}

.search-button {
    padding: 0.5em 1em;
    font-size: 1.2em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    height: 60px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    margin: 5px;
}

.search-results {
    text-align: center;
    padding: 2em 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.search-button:hover {
    color: orange;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.news-item {
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15px;
    border-radius: 15px;
    flex: 0 0 calc(50% - 10px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
}

.titleEl {
    color: azure;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 10px;
}

.descEl {
    background-color: rgba(128, 128, 128, 0.75);
    color: white;
    visibility: hidden;
    margin-top: auto;
    opacity: 0;
    padding: 10px;
}

.news-item a:hover + .descEl {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in;
}

.news-item a {
    text-decoration: none;
}