        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #575353;
        }

        header {
            background-image: linear-gradient(darkgray, black);
            color: white;
            text-align: center;
            padding: 1em;
        }

        .search-container {
            text-align: center;
            padding: 3em 0;
        }

        .search-bar {
            width: 80%;
            max-width: 600px;
            padding: 1em;
            font-size: 1.2em;
            border-radius: 15px;
        }

        .search-button {
            padding: 0.5em 1em;
            font-size: 1.2em;
            background-color: #333;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 15px;
            height: 60px;
        }

        .search-results {
            text-align: center;
            padding: 2em 0;
        }

        .search-button:hover {
            color: orange;
            box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
        }