 header{
    text-align: center;
 }
 .sidebar{
    margin-left: 1100px;
    height:450px;
    width: 250px;
    border: solid  4px;
 }
 .s1{
    height: 60px;
    width: 150px;
    border: solid  2px;
 }
 .s2{
    height: 60px;
    width: 150px;
    border: solid  2px;

 }
 .s3{
    height: 60px;
    width: 150px;
    border: solid  2px;
 }
 .s4{
    height: 60px;
    width:  150px;
    border: solid  2px;
 }
 .s5{
    height: 60px;
    width: 150px;
    border: solid  2px;
 }